<head>
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    rel="stylesheet"
  />
</head>

<body>
  <div class="container">
    <h2>Вход</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Имя пользователя:</label>
        <input
          type="text"
          name="username"
          required
          class="form-control"
          id="username"
        />
      </div>
      <div class="form-group">
        <label for="password">Пароль:</label>
        <input
          type="password"
          name="password"
          required
          class="form-control"
          id="password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Войти</button>
    </form>
    <p>Еще нет аккаунта? <a href="{% url 'register' %}">Регистрация</a></p>
  </div>
</body>
